body {
    font: 10pt sans-serif, serif;
    text-align: justify;
    color: #009EFF;
}

#box {
    border: 1px solid #FF6100;
    background-color: #D6EFFF;
    padding: 0.5em;
    margin: 10px;
    width: 320px;
    box-shadow: 10px 10px 2px 1px rgba(214, 239, 255, 0.425);
}

h3 {color: #FF6100;
    font: bold 18pt cursive, serif;
    text-align: center;
    padding: 0.5px;
    margin: 10px;
}

img.center {
    display: block;
    margin: 0 auto;
}

#second_box {
    border: 1px solid #FF6100;
    padding: 0.5em;
    margin: 10px;
    max-width: 285px;
}

p.italic {
    font-style: italic;
}

li {
    list-style-type: none;
    font: 10pt Arial, serif;
}

li span {
    font-weight: bold;
    color: #FF6100;
}